In [13]:
import pandas as pd

In [14]:
dataset = pd.read_csv("CAPSTONE DATABASE/final.csv")

In [15]:
dataset.head()

,5.78026095,2.76847791,5.41724501,4.84268438,0.69999374,0.34205703,4.46347628,2.49279236,1.60401009,1.83542371,...,2.13828748,0.57668507,1.96571404,0.27724985,0.89456408,1.01918865,2.76798463,0.44583251,0.47695485,0.0
0,5.780394,2.768310,5.417510,4.842808,0.699963,0.342061,4.463811,2.492679,1.603980,1.835507,...,2.138226,0.576693,1.965594,0.277254,0.894579,1.019259,2.768057,0.445790,0.476949,0.0
1,5.780598,2.768239,5.417487,4.843149,0.699919,0.342055,4.463644,2.492835,1.603877,1.835508,...,2.138337,0.576692,1.965569,0.277247,0.894578,1.019249,2.768055,0.445772,0.476948,0.0
2,5.780843,2.768181,5.417957,4.843350,0.699914,0.342061,4.463500,2.492772,1.603925,1.835461,...,2.138287,0.576703,1.965570,0.277244,0.894579,1.019251,2.768096,0.445738,0.476939,0.0
3,5.780524,2.768465,5.417796,4.842823,0.699921,0.342052,4.463093,2.492698,1.603979,1.835478,...,2.138178,0.576706,1.965624,0.277253,0.894573,1.019258,2.768072,0.445708,0.476941,0.0
4,5.780223,2.768439,5.417750,4.842816,0.699892,0.342051,4.463409,2.492579,1.603897,1.835448,...,2.138303,0.576701,1.965617,0.277243,0.894564,1.019205,2.768295,0.445672,0.476950,0.0

In [16]:
dataset.tail()

,5.78026095,2.76847791,5.41724501,4.84268438,0.69999374,0.34205703,4.46347628,2.49279236,1.60401009,1.83542371,...,2.13828748,0.57668507,1.96571404,0.27724985,0.89456408,1.01918865,2.76798463,0.44583251,0.47695485,0.0
11379,5.931808,2.828546,5.544698,4.964612,0.712117,0.355185,4.538470,2.492104,1.639853,1.849116,...,2.222816,0.578965,2.011933,0.279097,0.895810,1.040690,2.819285,0.481616,0.478998,1.0
11380,5.931038,2.828375,5.544332,4.964058,0.711894,0.355172,4.538206,2.492068,1.639714,1.849077,...,2.222749,0.578961,2.011568,0.279094,0.895737,1.040721,2.819743,0.481172,0.478987,1.0
11381,5.931038,2.828590,5.544163,4.964574,0.711739,0.355149,4.538000,2.492056,1.639837,1.849133,...,2.222710,0.578967,2.011512,0.279101,0.895773,1.040718,2.819969,0.481113,0.479006,1.0
11382,5.931013,2.828444,5.544513,4.964635,0.711742,0.355123,4.538102,2.491879,1.639779,1.849193,...,2.222737,0.578973,2.011736,0.279098,0.895773,1.040770,2.819412,0.481105,0.479007,1.0
11383,5.931363,2.828597,5.544974,4.964828,0.711780,0.355129,4.538416,2.491952,1.639942,1.849090,...,2.222776,0.578975,2.011500,0.279099,0.895817,1.040756,2.819324,0.481144,0.478992,1.0

In [17]:
tbneg = pd.read_csv("CAPSTONE DATABASE/TB NEG/Rectified/HC001.csv") #CAPSTONE DATABASE/TB NEG/HC001.csv

In [18]:
tbneg['S1'].mean()

5.7821332748634795

In [19]:
print(tbneg.keys())

Index(['Time', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Ambient Temp [C]',
       'Therm1 [volts]', 'Battery Raw Reading', 'Flag', 'S1', 'S2', 'S3', 'S4',
       'S5', 'S6', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13', 'S14', 'S15',
       'S16', 'S17', 'S18', 'S19', 'S20', 'S21', 'S22', 'S23', 'S24', 'S25',
       'S26', 'S27', 'S28', 'S29', 'S30', 'S31', 'S32'],
      dtype='object')

In [20]:
tbneg.drop(tbneg.columns[[0,1,2,3]], axis=1, inplace=True)

In [21]:
tbneg.head()

,Ambient Temp [C],Therm1 [volts],Battery Raw Reading,Flag,S1,S2,S3,S4,S5,S6,...,S23,S24,S25,S26,S27,S28,S29,S30,S31,S32
0,35.0,1.211548,4095.0,0,5.781849,2.768626,5.419640,4.843829,0.700669,0.342188,...,0.758844,2.138055,0.576709,1.965907,0.277250,0.894820,1.019403,2.768874,0.446352,0.476987
1,35.0,1.212158,4095.0,0,5.780850,2.768654,5.419576,4.843322,0.700730,0.342195,...,0.758828,2.138179,0.576700,1.966035,0.277259,0.894849,1.019378,2.768695,0.446369,0.476994
2,35.0,1.212769,4095.0,0,5.781212,2.768640,5.419447,4.843226,0.700724,0.342182,...,0.758853,2.138109,0.576699,1.965938,0.277251,0.894808,1.019406,2.768793,0.446381,0.477000
3,35.0,1.210938,4095.0,0,5.780809,2.768572,5.419293,4.843789,0.700709,0.342185,...,0.758847,2.138149,0.576701,1.965759,0.277257,0.894840,1.019388,2.768863,0.446383,0.476984
4,35.0,1.212158,4095.0,0,5.781110,2.768540,5.419345,4.844029,0.700727,0.342218,...,0.758862,2.138098,0.576699,1.965818,0.277259,0.894841,1.019405,2.768808,0.446391,0.476984

In [22]:
tbneg.drop(tbneg.columns[[0,1,2,3]], axis=1, inplace=True)

In [23]:
tbneg.head()

,S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,...,S23,S24,S25,S26,S27,S28,S29,S30,S31,S32
0,5.781849,2.768626,5.419640,4.843829,0.700669,0.342188,4.463546,2.492374,1.604312,1.835539,...,0.758844,2.138055,0.576709,1.965907,0.277250,0.894820,1.019403,2.768874,0.446352,0.476987
1,5.780850,2.768654,5.419576,4.843322,0.700730,0.342195,4.463808,2.492462,1.604390,1.835551,...,0.758828,2.138179,0.576700,1.966035,0.277259,0.894849,1.019378,2.768695,0.446369,0.476994
2,5.781212,2.768640,5.419447,4.843226,0.700724,0.342182,4.463772,2.492448,1.604399,1.835552,...,0.758853,2.138109,0.576699,1.965938,0.277251,0.894808,1.019406,2.768793,0.446381,0.477000
3,5.780809,2.768572,5.419293,4.843789,0.700709,0.342185,4.463486,2.492451,1.604394,1.835537,...,0.758847,2.138149,0.576701,1.965759,0.277257,0.894840,1.019388,2.768863,0.446383,0.476984
4,5.781110,2.768540,5.419345,4.844029,0.700727,0.342218,4.463541,2.492401,1.604372,1.835609,...,0.758862,2.138098,0.576699,1.965818,0.277259,0.894841,1.019405,2.768808,0.446391,0.476984

In [29]:
d1 = tbneg.mean(axis = 0)

In [43]:
d1

S1     5.782133
S2     2.769264
S3     5.424219
S4     4.843676
S5     0.704096
S6     0.342771
S7     4.464379
S8     2.492446
S9     1.606073
S10    1.835967
S11    1.326801
S12    0.557694
S13    0.754116
S14    0.518615
S15    1.254236
S16    1.175101
S17    0.813150
S18    0.779737
S19    0.747444
S20    0.909272
S21    0.514530
S22    0.595269
S23    0.760718
S24    2.138571
S25    0.576764
S26    1.967537
S27    0.277270
S28    0.895345
S29    1.020238
S30    2.770343
S31    0.466101
S32    0.477085
dtype: float64

In [30]:
d1['S1']

5.7821332748634795

In [51]:
df1 = pd.DataFrame(d1)

In [56]:
df1

            0
S1   5.782133
S2   2.769264
S3   5.424219
S4   4.843676
S5   0.704096
S6   0.342771
S7   4.464379
S8   2.492446
S9   1.606073
S10  1.835967
S11  1.326801
S12  0.557694
S13  0.754116
S14  0.518615
S15  1.254236
S16  1.175101
S17  0.813150
S18  0.779737
S19  0.747444
S20  0.909272
S21  0.514530
S22  0.595269
S23  0.760718
S24  2.138571
S25  0.576764
S26  1.967537
S27  0.277270
S28  0.895345
S29  1.020238
S30  2.770343
S31  0.466101
S32  0.477085

In [58]:
df1.pivot(columns=list(df1.keys()), values=list(df1.values))

KeyError: "None of [Index([(5.7821332748634795,), (2.7692641806313993,),  (5.424219107389081,),\n        (4.843675940529012,), (0.7040960018259383,), (0.3427710103583617,),\n        (4.464379275477819,), (2.4924460510750857,),  (1.606072665273036,),\n       (1.8359671324402738,),  (1.326800818259384,), (0.5576936079863473,),\n       (0.7541162398634808,), (0.5186154420648464,), (1.2542360607167227,),\n       (1.1751013147610916,), (0.8131503938395906,), (0.7797366484470986,),\n       (0.7474441034812286,), (0.9092723694027305,), (0.5145297709044364,),\n       (0.5952686760921497,), (0.7607183374914676,), (2.1385708728157007,),\n       (0.5767635722525597,), (1.9675371678498306,), (0.2772703779180888,),\n       (0.8953453724232087,), (1.0202383830034134,), (2.7703434589078513,),\n       (0.4661007926109216,), (0.4770848124914679,)],\n      dtype='object')] are in the [columns]"

In [55]:
df1.pivot(columns = 'S1','S2','S3','S4','S5','S6','S7','S8','S9','S10','S11','S12','S13','S14','S15','S16','S17','S18','S19','S20','S21','S22','S23','S24','S25','S26','S27','S28','S29','S30','S31','S32')

SyntaxError: positional argument follows keyword argument (<ipython-input-55-83c9541eba78>, line 1)

In [47]:
list(d1.keys())

['S1',
 'S2',
 'S3',
 'S4',
 'S5',
 'S6',
 'S7',
 'S8',
 'S9',
 'S10',
 'S11',
 'S12',
 'S13',
 'S14',
 'S15',
 'S16',
 'S17',
 'S18',
 'S19',
 'S20',
 'S21',
 'S22',
 'S23',
 'S24',
 'S25',
 'S26',
 'S27',
 'S28',
 'S29',
 'S30',
 'S31',
 'S32']